<div class="bg-white rounded-3xl
         shadow-[0_8px_30px_rgba(0,0,0,0.80)]
         border border-gray-200
         w-full max-w-[950px]
         py-6 px-6
         sm:py-8 sm:px-10
         transition-all duration-300
         hover:-translate-y-1
         hover:shadow-[0_12px_40px_rgba(0,0,0,0.9)]
         cursor-pointer"
     [ngClass]="{
         'min-h-[215px]': card.header === 'about',
         'min-h-[180px]': card.header === 'skills' || card.header === 'project',
         'min-h-[150px]': card.header === 'contact'
     }"
     (click)="openCard(card)"
>
  <div class="text-3xl font-bold text-gray-900 leading-tight">
    {{ card.title }}
  </div>

  <p class="text-gray-600 text-base mt-2 leading-relaxed">
    {{ card.description }}
  </p>

  <div class="flex flex-wrap gap-3 mt-4">
    @for (chip of card.chips; track chip.textValue) {
      @if(card.header === "contact") {
        <!-- EMAIL -->
        @if (chip.textValue === 'Email') {
          <a href="mailto:ethan.flipo@icloud.com"
             target="_blank"
             class="flex items-center gap-2 px-4 py-1.5 bg-gray-100 text-gray-700
                    rounded-full text-sm font-medium
                    shadow-sm cursor-pointer hover:bg-gray-200 transition-all duration-200">
            <img src="/src/assets/icons/email.svg" class="w-4 h-4" />
            {{ chip.textValue }}
          </a>
        }

        <!-- LINKEDIN -->
        @if (chip.textValue === 'LinkedIn') {
          <a href="https://www.linkedin.com/in/ethan-flipo"
             target="_blank"
             class="flex items-center gap-2 px-4 py-1.5 bg-gray-100 text-gray-700
                    rounded-full text-sm font-medium
                    shadow-sm cursor-pointer hover:bg-gray-200 transition-all duration-200">
            <img src="/src/assets/icons/linkedin.svg" class="w-4 h-4" />
            {{ chip.textValue }}
          </a>
        }

        <!-- GITHUB -->
        @if (chip.textValue === 'GitHub') {
          <a href="https://github.com/Furaido28"
             target="_blank"
             class="flex items-center gap-2 px-4 py-1.5 bg-gray-100 text-gray-700
                    rounded-full text-sm font-medium
                    shadow-sm cursor-pointer hover:bg-gray-200 transition-all duration-200">
            <img src="/src/assets/icons/github.svg" class="w-4 h-4" />
            {{ chip.textValue }}
          </a>
        }
      } @else if (card.header === "about" || card.header === "project"){
        <button
          class="px-4 py-2 bg-blue-600 text-white rounded-xl text-sm font-semibold
                 flex items-center gap-3 shadow-md hover:bg-blue-900 hover:shadow-lg
                 transition-all duration-200 group"
          (click)="openCard(card)">

          <span>{{ chip.textValue }}</span>
          <span class="w-px h-4 bg-gray-500"></span>

          <svg xmlns="http://www.w3.org/2000/svg"
               viewBox="0 0 20 20"
               fill="currentColor"
               class="w-4 h-4 transition-all duration-200 group-hover:translate-x-1">
            <path fill-rule="evenodd"
                  d="M7.293 4.293a1 1 0 011.414 0l5 5a1 1 0 010 1.414l-5 5a1 1 0 01-1.414-1.414L11.586 10 7.293 5.707a1 1 0 010-1.414z"
                  clip-rule="evenodd" />
          </svg>
        </button>
      } @else {
        <span class="flex items-center gap-2 px-4 py-1.5 bg-gray-100 text-gray-700
                     rounded-full text-sm font-medium shadow-sm">
          {{ chip.textValue }}
        </span>
      }
    }
  </div>
</div>
